@import "../global";

.cart-page {
  width: 100%;
  height: 100vh;
  padding: 12px;
  position: relative;
  background: #e2e8f0;

  .back-arrow {
    cursor: pointer;
    position: absolute;
    height: 48px;
    width: 48px;
    left: 40px;
    top: 24px;
    background: #fff;
    @include flex-center;
    border-radius: 50%;
    @media screen and (max-width: 640px) {
      height: 32px;
      width: 32px;
      left: 12px;
      top: 12px;
    }

    .arrow-icon {
      font-size: 24px;
      line-height: 32px;
      @media screen and (max-width: 640px) {
       @include medium-font-size;
      }
    }
  }

  .cart-page-heading {
    text-align: center;
    font-size: 48px;
    line-height: 1;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 28px;
    @media screen and (max-width: 640px) {
      font-size: 30px;
      line-height: 36px;
      margin-top: 0;
    }
  }

  .my-cart-wrapper {
    width: 90%;
    overflow-y: scroll;
    margin: auto;

    .my-cart-heading {
      font-size: 30px;
      line-height: 36px;
      font-weight: 600;
      margin-bottom: 24px;
      @media screen and (max-width: 640px) {
        font-size: 20px;
        line-height: 28px;
      }
    }

    .cart-items-continer {
      @include flex;
      flex-direction: column;
      gap: 24px;

      .no-items {
        text-align: center;
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        @media screen and (max-width:640px) {
           @include medium-font-size;
        }
      }

      .cart-items {
        @include flex-x-center;
        width: 100%;
        justify-content: space-between;
        padding: 8px;
        background: #fff;
        border: 1px solid #d1d5db;
        border-radius: 6px;
        @media screen and (max-width: 640px) {
          flex-direction: column;
        }

        .cart-items-details-container {
          @include flex;
          width: 56%;
          @media screen and (max-width: 1024px) {
            width: 48%;
          }
          @media screen and (max-width: 640px) {
            width: 100%;
          }

          .cart-image-container {
            position: relative;
            width: 25%;
            height: auto;
          }

          .cart-items-details {
            // max-width: 30%;
            margin-left: 16px;
            margin-top: 8px;
            @media screen and (max-width: 768px) {
              width: 100%;
            }

            .cart-items-heading {
              font-weight: 600;
             @include medium-font-size;
            }

            .cart-items-desc {
              margin-top: 4px;
             @include small-font-size;
            }
          }
        }

        .cart-item-quantity-removebtn {
          @include flex-x-center;
          justify-content: space-between;
          width: 35%;
          gap: 12px;
          @media screen and (max-width: 1024px) {
            width: 50%;
          }
          @media screen and (max-width: 640px) {
            width: 100%;
            margin-top: 20px;
          }

          .cart-item-quantity-btns {
            @include flex-x-center;
            gap: 12px;

            .quantity-btn {
              padding: 4px 16px;
              border-radius: 4px;
              color: #fff;
              background: $darkPurple;
            }
          }

          .remove-btn {
            padding: 8px 16px;
            border-radius: 4px;
            color: #fff;
            background: #ef4444;
            margin-right: 12px;
            @media screen and (max-width: 640px) {
              margin-right: 0px;
            }
          }
        }
      }
    }

    .checkout-container {
      @include flex-x-center;
      justify-content: space-between;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 24px;
      background: #f3f4f6;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

      .price {
        font-size: 20px;
        line-height: 28px;
        font-weight: 500;
        @media screen and (max-width: 640px) {
          font-size: 18px;
          line-height: 28px;
        }
      }

      .checkout-btn {
        padding: 8px 16px;
        border-radius: 4px;
        color: #fff;
        background: $darkPurple;
        transition-duration: 150ms;
        font-size: 16px;
        line-height: 24px;

        &:hover{
            background: $lightPurple;
        }
        @media screen and (max-width: 640px) {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
  }

  .cart-loader-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100vh;
    z-index: 10;
    @include flex-center;
    background: rgba($color:#000, $alpha: 0.5);
  }
}
