@import "./global";

.home-page {
  width: 100%;
  min-height: 100vh;
  padding: 12px;
  position: relative;
  background: #e2e8f0;

  .home-page-heading {
    text-align: center;
    font-size: 48px;
    line-height: 1;
    font-weight: 700;
    margin-top: 16px ;
    margin-bottom: 28px;
  }
}
