@import "../app/global";

.cart-button {
    cursor: pointer;
    position: fixed;
    width: 64px;
    height: 64px;
    right: 20px;
    bottom: 20px;
    background: #fff;
    @include flex-center;
    border-radius: 50%;

    &:hover {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .cart-icon {
        font-size: 30px;
        line-height: 36px;
    }
}

.bounce-animation {
    animation: bounce 1s infinite;

    @keyframes bounce {
        0%, 100% {
          transform: translateY(-25%);
          animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
        }
        50% {
          transform: translateY(0);
          animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
        }
      }
}